@import 'https://fonts.googleapis.com/css?family=Bungee';


.container{
    background: url('images/mainBg.jpg') no-repeat fixed center;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 2%;

}

.game-nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-top: 0.5%;
    font-size: 2vh;
}

.game-head {
    text-align: center;
    font-family: "bungee", sans-serif;
    position: relative;
}


.game-logo{
    height: 100%;
    width: 15%;
    background-image: url('images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}

